
/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }



body{ margin:0 auto;
		max-width:1024px;
		background-color:grey;
		}
		
#background-map{
				position:relative;
				top:100px;
				width:1024px;
				height:768px;
				background-image:url("images/amsterdam-map.png");
				}
		
header{
		position:absolute;
		background-color:grey;
		width:1024px;
		height:100px;
-webkit-box-shadow: 0px 4px 18px rgba(50, 50, 50, 0.69);
-moz-box-shadow:    0px 4px 18px rgba(50, 50, 50, 0.69);
box-shadow:         0px 4px 18px rgba(50, 50, 50, 0.69);
z-index:1;
		}
		
h1{
	position:absolute;
	top:20px;
	left:20px;
	color:white;
	font-family:helveticaneue;
	font-weight:bold;
	font-size:2.75em;
	letter-spacing:.5px;
	}
	
#second-head{
			position:absolute;
			top:35px;
			left:300px;
			color:white;
			font-family:helveticaneue;
			font-size:1.25em;
			letter-spacing:.4px;
			}
			
nav{
	position:absolute;
	right:40px;
	top:40px;
	}
	
li{
	float:left;
	font-family:helveticaneue;
	font-weight:bold;
	color:white;
	font-size:.65em;
	letter-spacing:1.5px;
	margin:0px 10px 0px 10px;
	}
	
	
li:hover{
		transform: scale(1.10,1.10);
		-ms-transform: scale(1.10,1.10); /* IE 9 */
		-webkit-transform: scale(1.10,1.10); /* Safari and Chrome */
		-o-transform: scale(1.10,1.10); /* Opera */
		-moz-transform: scale(1.10,1.10); /* Firefox */
		}

#about-box{
			display:none;
			position:absolute;
			top:100px;
			width:1024px;
			height:500px;
			background-color:lightgrey;
			-webkit-box-shadow: 0px 4px 18px rgba(50, 50, 50, 0.69);
-moz-box-shadow:    0px 4px 18px rgba(50, 50, 50, 0.69);
box-shadow:         0px 4px 18px rgba(50, 50, 50, 0.69);
			}
			
#about-me{
			display:none;
			position:absolute;
			top:100px;
			width:1024px;
			height:500px;
			background-color:lightgrey;
			-webkit-box-shadow: 0px 4px 18px rgba(50, 50, 50, 0.69);
-moz-box-shadow:    0px 4px 18px rgba(50, 50, 50, 0.69);
box-shadow:         0px 4px 18px rgba(50, 50, 50, 0.69);
			}
			
#about-trip{
			position:absolute;
			top:80px;
			left:60px;
			width:225px;
			height:337.5px;
			}
			
#about-me-image{
			position:absolute;
			top:80px;
			left:60px;
			width:225px;
			height:300px;
			}
			
.text{
		position:absolute;
		top:130px;
		left:350px;
		width:600px;
		color:grey;
		font-family:helveticaneue;
		font-size:1em;
		letter-spacing:.4px;
		line-height:25px;
		}
		
h2{
	position:absolute;
	top:80px;
	left:350px;
	width:600px;
	font-family:helveticaneue;
	font-weight:bold;
	color:grey;
	font-size:2em;
	letter-spacing:1.5px;
		}
	
	
	
	
	
	
	

/* PINPOINT 5 BREAKDOWN */

	
#pinpoint-5{
		position:absolute;
		top:400px;
		left:370px;
		width:50px;
		height:50px;
		background-color:grey;
		border-radius:25px;
		}
		
.pinpoint-bottom{        
		position:absolute;
        top:40px;
        left:5px;
        width:0;
        height:0;
        border-left:20px solid transparent;
        border-right:20px solid transparent;
        border-top:30px solid grey;
}

#pinpoint-5:hover{
		transform: scale(1.10,1.10);
		-ms-transform: scale(1.10,1.10); /* IE 9 */
		-webkit-transform: scale(1.10,1.10); /* Safari and Chrome */
		-o-transform: scale(1.10,1.10); /* Opera */
		-moz-transform: scale(1.10,1.10); /* Firefox */
		}
		
#box-5{   
		display:none;
		position:absolute;
        top:188px;
        left:370px;
        width:360px;
        height:240px;
        background-color:grey;
        border-radius:10px;
        z-index:1;

}

.close{
		position:absolute;
		width:20px;
		height:20px;
		top:10px;
        left:325px;
		}
		
#amsta-5{
			position:absolute;
			top:15px;
			left:15px;
			width:300px;
			height:200px;
			}
	
/* END PINOPOINT */





/* PINPOINT 1 BREAKDOWN */

	
#pinpoint-1{
		position:absolute;
		top:430px;
		left:310px;
		width:50px;
		height:50px;
		background-color:grey;
		border-radius:25px;
		}
		
.pinpoint-bottom{        
		position:absolute;
        top:40px;
        left:5px;
        width:0;
        height:0;
        border-left:20px solid transparent;
        border-right:20px solid transparent;
        border-top:30px solid grey;
}

#pinpoint-1:hover{
		transform: scale(1.10,1.10);
		-ms-transform: scale(1.10,1.10); /* IE 9 */
		-webkit-transform: scale(1.10,1.10); /* Safari and Chrome */
		-o-transform: scale(1.10,1.10); /* Opera */
		-moz-transform: scale(1.10,1.10); /* Firefox */
		}
		
#box-1{   
		display:none;
		position:absolute;
        top:220px;
        left:310px;
        width:360px;
        height:240px;
        background-color:grey;
        border-radius:10px;
        z-index:1;

}

.close{
		position:absolute;
		width:20px;
		height:20px;
		top:10px;
        left:325px;
		}
		
#amsta-1{
			position:absolute;
			top:15px;
			left:15px;
			width:300px;
			height:200px;
			}
	
/* END PINOPOINT */





/* PINPOINT 2 BREAKDOWN */

	
#pinpoint-2{
		position:absolute;
		top:330px;
		left:400px;
		width:50px;
		height:50px;
		background-color:grey;
		border-radius:25px;
		}
		
.pinpoint-bottom{        
		position:absolute;
        top:40px;
        left:5px;
        width:0;
        height:0;
        border-left:20px solid transparent;
        border-right:20px solid transparent;
        border-top:30px solid grey;
}

#pinpoint-2:hover{
		transform: scale(1.10,1.10);
		-ms-transform: scale(1.10,1.10); /* IE 9 */
		-webkit-transform: scale(1.10,1.10); /* Safari and Chrome */
		-o-transform: scale(1.10,1.10); /* Opera */
		-moz-transform: scale(1.10,1.10); /* Firefox */
		}
		
#box-2{   
		display:none;
		position:absolute;
        top:125px;
        left:400px;
        width:360px;
        height:240px;
        background-color:grey;
        border-radius:10px;
        z-index:1;

}

.close{
		position:absolute;
		width:20px;
		height:20px;
		top:10px;
        left:325px;
		}
		
#amsta-2{
			position:absolute;
			top:15px;
			left:15px;
			width:300px;
			height:200px;
			}
	
/* END PINOPOINT */



/* PINPOINT 3 BREAKDOWN */

	
#pinpoint-3{
		position:absolute;
		top:580px;
		left:500px;
		width:50px;
		height:50px;
		background-color:grey;
		border-radius:25px;
		}
		
.pinpoint-bottom{        
		position:absolute;
        top:40px;
        left:5px;
        width:0;
        height:0;
        border-left:20px solid transparent;
        border-right:20px solid transparent;
        border-top:30px solid grey;
}

#pinpoint-3:hover{
		transform: scale(1.10,1.10);
		-ms-transform: scale(1.10,1.10); /* IE 9 */
		-webkit-transform: scale(1.10,1.10); /* Safari and Chrome */
		-o-transform: scale(1.10,1.10); /* Opera */
		-moz-transform: scale(1.10,1.10); /* Firefox */
		}
		
#box-3{   
		display:none;
		position:absolute;
        top:230px;
        left:500px;
        width:280px;
        height:380px;
        background-color:grey;
        border-radius:10px;
        z-index:1;

}

.close-vertical{
		position:absolute;
		width:20px;
		height:20px;
		top:10px;
        left:250px;
		}
		
#amsta-3{
			position:absolute;
			top:15px;
			left:15px;
			width:225px;
			height:337.5px;
			}
	
/* END PINOPOINT */



/* PINPOINT 4 BREAKDOWN */

	
#pinpoint-4{
		position:absolute;
		top:450px;
		left:240px;
		width:50px;
		height:50px;
		background-color:grey;
		border-radius:25px;
		}
		
.pinpoint-bottom{        
		position:absolute;
        top:40px;
        left:5px;
        width:0;
        height:0;
        border-left:20px solid transparent;
        border-right:20px solid transparent;
        border-top:30px solid grey;
}

#pinpoint-4:hover{
		transform: scale(1.10,1.10);
		-ms-transform: scale(1.10,1.10); /* IE 9 */
		-webkit-transform: scale(1.10,1.10); /* Safari and Chrome */
		-o-transform: scale(1.10,1.10); /* Opera */
		-moz-transform: scale(1.10,1.10); /* Firefox */
		}
		
#box-4{   
		display:none;
		position:absolute;
        top:100px;
        left:240px;
        width:280px;
        height:380px;
        background-color:grey;
        border-radius:10px;
         z-index:1;

}

.close-vertical{
		position:absolute;
		width:20px;
		height:20px;
		top:10px;
        left:250px;
		}
		
#amsta-4{
			position:absolute;
			top:15px;
			left:15px;
			width:225px;
			height:337.5px;
			}
	
/* END PINOPOINT */


/* PINPOINT 6 BREAKDOWN */

	
#pinpoint-6{
		position:absolute;
		top:550px;
		left:550px;
		width:50px;
		height:50px;
		background-color:grey;
		border-radius:25px;
		}
		
.pinpoint-bottom{        
		position:absolute;
        top:40px;
        left:5px;
        width:0;
        height:0;
        border-left:20px solid transparent;
        border-right:20px solid transparent;
        border-top:30px solid grey;
}

#pinpoint-6:hover{
		transform: scale(1.10,1.10);
		-ms-transform: scale(1.10,1.10); /* IE 9 */
		-webkit-transform: scale(1.10,1.10); /* Safari and Chrome */
		-o-transform: scale(1.10,1.10); /* Opera */
		-moz-transform: scale(1.10,1.10); /* Firefox */
		}
		
#box-6{   
		display:none;
		position:absolute;
        top:200px;
        left:550px;
        width:280px;
        height:380px;
        background-color:grey;
        border-radius:10px;
        z-index:1;

}

.close-vertical{
		position:absolute;
		width:20px;
		height:20px;
		top:10px;
        left:250px;
		}
		
#amsta-6{
			position:absolute;
			top:15px;
			left:15px;
			width:225px;
			height:337.5px;
			}
	
/* END PINOPOINT */



/* PINPOINT 7 BREAKDOWN */

	
#pinpoint-7{
		position:absolute;
		top:240px;
		left:500px;
		width:50px;
		height:50px;
		background-color:grey;
		border-radius:25px;
		}
		
.pinpoint-bottom{        
		position:absolute;
        top:40px;
        left:5px;
        width:0;
        height:0;
        border-left:20px solid transparent;
        border-right:20px solid transparent;
        border-top:30px solid grey;
}

#pinpoint-7:hover{
		transform: scale(1.10,1.10);
		-ms-transform: scale(1.10,1.10); /* IE 9 */
		-webkit-transform: scale(1.10,1.10); /* Safari and Chrome */
		-o-transform: scale(1.10,1.10); /* Opera */
		-moz-transform: scale(1.10,1.10); /* Firefox */
		}
		
#box-7{   
		display:none;
		position:absolute;
        top:35px;
        left:500px;
  		 width:360px;
        height:240px;
        background-color:grey;
        border-radius:10px;
        z-index:1;
}

.close{
		position:absolute;
		width:20px;
		height:20px;
		top:10px;
        left:325px;
		}
		
#amsta-7{
			position:absolute;
			top:15px;
			left:15px;
			width:300px;
			height:200px;
			}
	
/* END PINOPOINT */





/* PINPOINT 8 BREAKDOWN */

	
#pinpoint-8{
		position:absolute;
		top:600px;
		left:240px;
		width:50px;
		height:50px;
		background-color:grey;
		border-radius:25px;
		}
		
.pinpoint-bottom{        
		position:absolute;
        top:40px;
        left:5px;
        width:0;
        height:0;
        border-left:20px solid transparent;
        border-right:20px solid transparent;
        border-top:30px solid grey;
}

#pinpoint-8:hover{
		transform: scale(1.10,1.10);
		-ms-transform: scale(1.10,1.10); /* IE 9 */
		-webkit-transform: scale(1.10,1.10); /* Safari and Chrome */
		-o-transform: scale(1.10,1.10); /* Opera */
		-moz-transform: scale(1.10,1.10); /* Firefox */
		}
		
#box-8{   
		display:none;
		position:absolute;
        top:255px;
        left:240px;
        width:280px;
        height:380px;
        background-color:grey;
        border-radius:10px;
        z-index:1;

}

.close-vertical{
		position:absolute;
		width:20px;
		height:20px;
		top:10px;
        left:250px;
		}
		
#amsta-8{
			position:absolute;
			top:15px;
			left:15px;
			width:225px;
			height:337.5px;
			}
	
/* END PINOPOINT */






/* PINPOINT 9 BREAKDOWN */

	
#pinpoint-9{
		position:absolute;
		top:550px;
		left:270px;
		width:50px;
		height:50px;
		background-color:grey;
		border-radius:25px;
		}
		
.pinpoint-bottom{        
		position:absolute;
        top:40px;
        left:5px;
        width:0;
        height:0;
        border-left:20px solid transparent;
        border-right:20px solid transparent;
        border-top:30px solid grey;
}

#pinpoint-9:hover{
		transform: scale(1.10,1.10);
		-ms-transform: scale(1.10,1.10); /* IE 9 */
		-webkit-transform: scale(1.10,1.10); /* Safari and Chrome */
		-o-transform: scale(1.10,1.10); /* Opera */
		-moz-transform: scale(1.10,1.10); /* Firefox */
		}
		
#box-9{   
		display:none;
		position:absolute;
        top:200px;
        left:270px;
        width:280px;
        height:380px;
        background-color:grey;
        border-radius:10px;
        z-index:1;

}

.close-vertical{
		position:absolute;
		width:20px;
		height:20px;
		top:10px;
        left:250px;
		}
		
#amsta-9{
			position:absolute;
			top:15px;
			left:15px;
			width:225px;
			height:337.5px;
			}
	
/* END PINOPOINT */






/* PINPOINT 10 BREAKDOWN */

	
#pinpoint-10{
		position:absolute;
		top:615px;
		left:200px;
		width:50px;
		height:50px;
		background-color:grey;
		border-radius:25px;
		}
		
.pinpoint-bottom{        
		position:absolute;
        top:40px;
        left:5px;
        width:0;
        height:0;
        border-left:20px solid transparent;
        border-right:20px solid transparent;
        border-top:30px solid grey;
}

#pinpoint-10:hover{
		transform: scale(1.10,1.10);
		-ms-transform: scale(1.10,1.10); /* IE 9 */
		-webkit-transform: scale(1.10,1.10); /* Safari and Chrome */
		-o-transform: scale(1.10,1.10); /* Opera */
		-moz-transform: scale(1.10,1.10); /* Firefox */
		}
		
#box-10{   
		display:none;
		position:absolute;
        top:410px;
        left:200px;
  		 width:360px;
        height:240px;
        background-color:grey;
        border-radius:10px;
        z-index:1;
}

.close{
		position:absolute;
		width:20px;
		height:20px;
		top:10px;
        left:325px;
		}
		
#amsta-10{
			position:absolute;
			top:15px;
			left:15px;
			width:300px;
			height:200px;
			}
	
/* END PINOPOINT */





/* PINPOINT 11 BREAKDOWN */

	
#pinpoint-11{
		position:absolute;
		top:460px;
		left:420px;
		width:50px;
		height:50px;
		background-color:grey;
		border-radius:25px;
		}
		
.pinpoint-bottom{        
		position:absolute;
        top:40px;
        left:5px;
        width:0;
        height:0;
        border-left:20px solid transparent;
        border-right:20px solid transparent;
        border-top:30px solid grey;
}

#pinpoint-11:hover{
		transform: scale(1.10,1.10);
		-ms-transform: scale(1.10,1.10); /* IE 9 */
		-webkit-transform: scale(1.10,1.10); /* Safari and Chrome */
		-o-transform: scale(1.10,1.10); /* Opera */
		-moz-transform: scale(1.10,1.10); /* Firefox */
		}
		
#box-11{   
		display:none;
		position:absolute;
        top:150px;
        left:420px;
        width:280px;
        height:345px;
        background-color:grey;
        border-radius:10px;
        z-index:1;

}

.close-vertical{
		position:absolute;
		width:20px;
		height:20px;
		top:10px;
        left:250px;
		}
		
#amsta-11{
			position:absolute;
			top:15px;
			left:15px;
			width:225px;
			height:301px;
			}
	
/* END PINOPOINT */
		

/* PINPOINT 13 BREAKDOWN */

	
#pinpoint-13{
		position:absolute;
		top:635px;
		left:280px;
		width:50px;
		height:50px;
		background-color:grey;
		border-radius:25px;
		}
		
.pinpoint-bottom{        
		position:absolute;
        top:40px;
        left:5px;
        width:0;
        height:0;
        border-left:20px solid transparent;
        border-right:20px solid transparent;
        border-top:30px solid grey;
}

#pinpoint-13:hover{
		transform: scale(1.10,1.10);
		-ms-transform: scale(1.10,1.10); /* IE 9 */
		-webkit-transform: scale(1.10,1.10); /* Safari and Chrome */
		-o-transform: scale(1.10,1.10); /* Opera */
		-moz-transform: scale(1.10,1.10); /* Firefox */
		}
		
#box-13{   
		display:none;
		position:absolute;
        top:400px;
        left:280px;
  		 width:360px;
        height:270px;
        background-color:grey;
        border-radius:10px;
        z-index:1;
}

.close{
		position:absolute;
		width:20px;
		height:20px;
		top:10px;
        left:325px;
		}
		
#amsta-13{
			position:absolute;
			top:15px;
			left:15px;
			width:300px;
			height:224px;
			}
	
/* END PINOPOINT */






/* PINPOINT 15 BREAKDOWN */

	
#pinpoint-15{
		position:absolute;
		top:570px;
		left:300px;
		width:50px;
		height:50px;
		background-color:grey;
		border-radius:25px;
		}
		
.pinpoint-bottom{        
		position:absolute;
        top:40px;
        left:5px;
        width:0;
        height:0;
        border-left:20px solid transparent;
        border-right:20px solid transparent;
        border-top:30px solid grey;
}

#pinpoint-15:hover{
		transform: scale(1.10,1.10);
		-ms-transform: scale(1.10,1.10); /* IE 9 */
		-webkit-transform: scale(1.10,1.10); /* Safari and Chrome */
		-o-transform: scale(1.10,1.10); /* Opera */
		-moz-transform: scale(1.10,1.10); /* Firefox */
		}
		
#box-15{   
		display:none;
		position:absolute;
        top:330px;
        left:300px;
  		 width:360px;
        height:270px;
        background-color:grey;
        border-radius:10px;
        z-index:1;
}

.close{
		position:absolute;
		width:20px;
		height:20px;
		top:10px;
        left:325px;
		}
		
#amsta-15{
			position:absolute;
			top:15px;
			left:15px;
			width:300px;
			height:224px;
			}
	
/* END PINOPOINT */

		
		

/* PINPOINT 16 BREAKDOWN */

	
#pinpoint-16{
		position:absolute;
		top:260px;
		left:540px;
		width:50px;
		height:50px;
		background-color:grey;
		border-radius:25px;
		}
		
.pinpoint-bottom{        
		position:absolute;
        top:40px;
        left:5px;
        width:0;
        height:0;
        border-left:20px solid transparent;
        border-right:20px solid transparent;
        border-top:30px solid grey;
}

#pinpoint-16:hover{
		transform: scale(1.10,1.10);
		-ms-transform: scale(1.10,1.10); /* IE 9 */
		-webkit-transform: scale(1.10,1.10); /* Safari and Chrome */
		-o-transform: scale(1.10,1.10); /* Opera */
		-moz-transform: scale(1.10,1.10); /* Firefox */
		}
		
#box-16{   
		display:none;
		position:absolute;
        top:20px;
        left:540px;
  		 width:360px;
        height:270px;
        background-color:grey;
        border-radius:10px;
        z-index:1;
}

.close{
		position:absolute;
		width:20px;
		height:20px;
		top:10px;
        left:325px;
		}
		
#amsta-16{
			position:absolute;
			top:15px;
			left:15px;
			width:300px;
			height:224px;
			}
	
/* END PINOPOINT */




		
		
		
		
		
		
		