
/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:0 auto;
  width:960px;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

#sidebar{
position:absolute;
left:0px;
top:0px;
width:300px;
height:700px;
background-color:white;
box-shadow: 8px 0px 14px rgb(190,190,190);
z-index:1;
}


#map-canvas { 
position:relative;
left:300px;
top:0px;
height:700px; }

#logo{
position:relative;
margin:5px 0px 0px 25px;
}

#bodyContent{
font-family:helvetica;
font-size:1em;
}

#cat-1{
	position:relative;
	float:left;
	left:40px;
	top:50px;
	}
	

#less-10{
    float:left;
	width:40px;
	height:40px;
	background-color: grey;
	}
	
#less-10-hover{
    position:absolute;
	width:40px;
	height:40px;
	background-color: rgb(89,74,75);
	display:none;
	}

#less-10-text{
    float:left;
	position:relative;
	margin:13px 0px 0px 0px;
	left:20px;
	font-family:helvetica;
	font-size:1em;
	color:rgb(140,198,63);
	}
	


#cat-2{
	position:relative;
	float:left;
	left:40px;
	top:90px;
	}
	

#sixty{
    float:left;
	width:40px;
	height:40px;
	background-color: grey;
	}

#sixtyhover{
    position:absolute;
	width:40px;
	height:40px;
	background-color: rgb(179,124,74);
	display:none;
	}

#sixty-text{
    float:left;
	position:relative;
	margin:13px 0px 0px 0px;
	left:20px;
	font-family:helvetica;
	font-size:1em;
	color:rgb(140,198,63);
	}

	

#cat-3{
	position:relative;
	float:left;
	left:40px;
	top:130px;
	}
	

#seventy-five{
    float:left;
	width:40px;
	height:40px;
	background-color: grey;
	}
	
#seventy-five-hover{
    position:absolute;
	width:40px;
	height:40px;
	background-color:rgb(248,196,49);
	display:none;
	}

#seventy-five-text{
    float:left;
	position:relative;
	margin:13px 0px 0px 0px;
	left:20px;
	font-family:helvetica;
	font-size:1em;
	color:rgb(140,198,63);
	}
	
#cat-4{
	position:relative;
	float:left;
	left:40px;
	top:170px;
	}
	

#hund{
    float:left;
	width:40px;
	height:40px;
	background-color:grey;
	}
#hundhover{
    position:absolute;
	width:40px;
	height:40px;
	background-color: rgb(82,201,74); 
	display:none;
	}

#hund-text{
    float:left;
	position:relative;
	margin:13px 0px 0px 0px;
	left:20px;
	font-family:helvetica;
	font-size:1em;
	color:rgb(140,198,63);
	}


#cat-5{
	position:relative;
	float:left;
	left:40px;
	top:210px;
	}
	

#two-hund{
    float:left;
	width:40px;
	height:40px;
	background-color: grey;
	}
	
#two-hund-hover{
    position:absolute;
	width:40px;
	height:40px;
	background-color: rgb(0,66,43); 
	display:none;
	}

#two-hund-text{
    float:left;
	position:relative;
	margin:13px 0px 0px 0px;
	left:20px;
	font-family:helvetica;
	font-size:1em;
	color:rgb(140,198,63);
	}


p{
position:relative;
text-align:center;
font-family:helvetica;
color:rgb(140,198,63);
font-size:.7em;
}

h2{
position:relative;
top:30px;
text-align:center;
font-family:helvetica;
font-weight:bold;
color:rgb(140,198,63);
font-size:1.2em;
}










